/* Soluzione qui */
@media (min-width: 768px) {
    #topbar{
        display: block;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe h2 {
        font-size: 1.9rem;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        padding-inline: 20px;
    }

    .btn i {
        padding-inline: 30px;
    }

    .ads {
        display: block;
    }

    .presentation p img {
       float: left;
       margin-right: 15px;
    }
        
}