/* Soluzione qui */
@media (min-width: 768px) {
    #topbar{
        display: block;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe h2 {
        font-size: 1.9rem;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        padding-inline: 20px;
    }

    .btn i {
        padding-inline: 30px;
    }

    .ads {
        display: block;
    }

    .presentation p img {
       float: left;
       margin-right: 15px;
    }   
}

@media (min-width: 992px) {
    .recipe h2 {
        font-size: 2.5rem;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-card .recipe-video {
        width: 70%;
    }

    .social-networks .label {
        display: inline;
    }

    .btn i {
        padding-inline: 0px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer address {
        text-align: left;
    }
}